.aui-header {
  background: #161b22 !important;
}
/* 
.status-button.approve {
  background: #238636 !important;
  width: 400px !important;
  height: 34px !important;
  color: #ffffff !important;
  border-radius: 5px !important;
}

.status-button.approve:hover {
  background: #2ea043 !important;
  color: #ffffff !important;
}

.reviewer-status-buttons {
  max-width: 1000px !important;
} */
